.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: 'Roboto Slab', serif;
}

.formWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  box-sizing: border-box;
}

.input {
  border: 1px solid #a9a9a9;
  padding: 0.8rem;
  border-radius: 4px;
  font-size: 1rem;
  width: 70%;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #13863c75;
}

.button {
  background-color: #0d8638;
  color: white;
  padding: 0.8rem;
  border-radius: 4px;
  font-weight: 500;
  width: 30%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.button:hover {
  background-color: #0b692c;
}

.button:disabled {
  background-color: #75847a;
  cursor: not-allowed;
}

@media (max-width: 640px) {
  .formWrapper {
    flex-direction: column;
  }

  .input {
    width: 100%;
  }

  .button {
    width: 100%;
  }
}
