.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: 'Roboto Slab', serif;
}

.formWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  box-sizing: border-box;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex: 1;
}

.input {
  border: 1px solid #a9a9a9;
  padding: 0.8rem;
  border-radius: 4px;
  font-size: 1rem;
  flex: 1;
  /* Take remaining space */
  box-sizing: border-box;
  min-width: 0;
  /* Prevent overflow */
}

.input:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #13863c75;
}

.button {
  background-color: #0d8638;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  background-color: #0b692c;
}

.button:disabled {
  background-color: #75847a;
  cursor: not-allowed;
}

.pasteButton {
  /* background-color: #f0f0f0; */
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  /* padding: 0; */
  /* width: 46px; */
  /* Rough estimate to make it square with standard line height/padding */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  flex-shrink: 0;
}

.pasteButton::before {
  content: '⇐';
}

.pasteButton:hover {
  background-color: #e0e0e0;
}

.pasteButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.submitButton {
  width: 100%;
}

@media (max-width: 640px) {
  .formWrapper {
    flex-direction: column;
  }

  .input {
    width: 100%;
  }

  .pasteButton::before {
    content: '⇧';
  }
}
