.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: 'Roboto Slab', serif;
}

.formWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  box-sizing: border-box;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex: 1;
}

.input {
  border: 1px solid #a9a9a9;
  padding: 0.8rem;
  border-radius: 4px;
  font-size: 1rem;
  flex: 1;
  box-sizing: border-box;
  min-width: 0;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #13863c75;
}

.button {
  background-color: #0d8638;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button:hover {
  background-color: #0b692c;
}

.button:disabled {
  background-color: #75847a;
  cursor: not-allowed;
}

.pasteButton {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  flex-shrink: 0;
}

.submitButton {
  width: 100%;
}

@media (max-width: 640px) {
  .formWrapper {
    flex-direction: column;
  }

  .input {
    width: 100%;
  }
}
